
@using EntityLayer.Concrete
@model List<Contact>



<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    <div class="mt-3 px-1">
        <div class="h5">Let’s talk how I can help you!</div>
        <p>If you like my work and want to avail my services then drop me a message using the contact form. </p>
        <p>See you!</p>
    </div>
    <div class="mt-53 px-1">
        <div class="row">

            @foreach (var item in Model)
           {
                <p>
                    <strong>@item.Title</strong>
                     </p>

                <div class="col-sm-2">
                    <div class="pb-1">Email:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Mail</div>
                </div>
                
                <div class="col-sm-2">
                    <div class="pb-1">Phone:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.PhoneNumber</div>
                </div>
            }


           
        </div>
    </div>
</div>