@model EntityLayer.Concrete.Announcement
@{
    ViewData["Title"] = "DetailsAnnouncement";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Duyuru Detayları</h1>
<br />
<form class="form-group">
    @Html.Label("Id")
    @Html.DisplayFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.DisplayFor(x => x.Content, new { @class = "form-control" })
</form>
    