@model EntityLayer.Concrete.Service


@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme Sayfası</h3>
</div>

@using (Html.BeginForm("UpdateService", "Service", FormMethod.Post))
{

    @Html.HiddenFor(x=>x.ServiceId)
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x=>x.Title,new {@class = "form-control"})
    <br />
    <label>Resim Yolu</label>

    @Html.TextBoxFor(x=>x.ImageUrl,new {@class = "form-control"})
    <br />
    <button class="btn btn-success">Kaydet</button>


}